.dashboard {
  padding: 20px 16px 32px;
}

.latest-transaction {
  padding: 40px 24px 0;
  border-radius: 8px;
  box-shadow: 0 6px 15px 3px rgba(179, 179, 179, 0.253);
}

.latest-transaction h2 {
  font-size: 18px;
  color: gray;
  font-weight: normal;
}

.latest-transaction > div {
  height: 58vh;
}

.latest-transaction > div > div:last-child {
  bottom: 4%;
  width: 77%;
}
